@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Roboto', sans-serif;
}
.container
{
    display: flex;
    flex-direction: column;
    border: 0.5px solid #333;
    margin: 10px 50px;
    height: 200px;
    padding: 20px;
    background: #999;
}
#task-form
{
    margin: 20px 0px ;
}
.btn
{
    margin: 20px 0px;
    padding: 10px;
}